<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Login Form -->
      <form [formGroup]="registerForm">
        <input type="text" id="login" class="fadeIn second" name="Email" placeholder="Email" formControlName="email">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" formControlName="password" >
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="onLoginInPress()">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
      <div id="formFooter">
      <a routerLink="/register" class="underlineHover" href="#">Sign Up</a>
      </div>
  
    </div>
  </div>
